html,body{
  height: 100%;
}

body{
  font-family: 'NovelMonoPro-Regular', 'Source Code Pro', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #1d1d1d;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*height: 48px;*/
  z-index: 4;
  /*overflow: hidden;*/
  background: #f5f5f5;
}

header>.inner{
  margin: 0 0px 0 40px;
  padding: 0 20px;
}

header #logo{
  line-height: 48px;
  float: left;
  width: 200px;/*sidebar width*/
}

header #query{
  margin-left: 288px;
  padding: 10px 0 10px 20px;
  position:relative;
}

header #query .grid>div{/*textarea container*/
  position:absolute;
  padding: 0;
  left:0;
  right: 66px;
  background: #ebebeb;
  /*height: 28px;
  overflow: hidden;*/
  padding-left: 10px;
}

header #query .grid>button{
  width: 28px;
  height: 28px;
  float: right;
  background: #ebebeb;
  box-shadow: none;
  border: 0px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

header #query .grid>button:hover{
  background: #fff;
}

*:focus{
  outline: none;
}

header #query .grid>button.primary{
  background: #1d1d1d;
  color: white;
}

header #query .grid>button.primary:hover{
  background: #9d9d9d;
}

header #query textarea{
  background: #ebebeb;
  border: 0px transparent;
  width: 100%;
  font-family: 'NovelMonoPro-Regular', 'Source Code Pro', sans-serif;
  margin: 0;
  line-height: 28px;
  resize: none;
  padding:0;
}

header #query-editor {
  height: 100%;
  background-color: white;
}

.ace_hidden-cursors {
  opacity:0
}

nav{
  position:fixed;
  height: 100%;
  width: 40px;
  z-index: 2;
  left: 0px;
  background: #fff;
}

nav >.inner{
  padding-top: 68px;
}

nav a{
  display: block;
  text-align: center;
  padding: 10px;
  line-height: 20px;
  color: #d5d5d5;
  text-decoration: none;
}

nav a>div{

  height: 20px;
  line-height: 20px;
  width: 20px;

}

nav a:hover>div{
  color: #353535;
}

nav a.active>div{
  color: white;
}

nav a.active>div{
  background-color: #353535;
  color: #f5f5f5;
}


aside{
  position:fixed;
  height: 100%;
  width: 300px;
  z-index: 3;
  left: 40px;
}

aside>.inner{
  /*padding: 68px 20px 68px 20px;/* header height plus 20px*/;
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 48px 0px 20px 10px;
  overflow: auto;
}

/*
  depth 1: the aside.;
*/
.node-labels{

}

.labels{
  margin: 0 6px;
}

.node-label{
  background-color: #f5f5f5;
  font-size: 12px;
  padding: 2px 7px;
  display: inline-block;
  margin: 4px 3px;
  transition: background-color .36s ease-in-out;
  cursor: pointer;
}

.node-label.active{
  background-color: #d5d5d5;
}

.detail{
  margin: 10px 10px;
}

.detail h3{
  background: #ebebeb;
  display: inline;
  color: #1d1d1d;
  padding: 4px 6px;
}

.detail .value{
  display: inline;
}

h2{
  font-family: 'NovelSansPro-Regular', 'Source Sans Pro', sans-serif;
  padding: 10px;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 16px;
  margin-bottom :0px;
  margin-top: 20px;
}

#layout{
  height: 100%;
  width: 100%;
}

/**
  Playground and tools to zoom, center etc.
*/
#playground{
  height: 100%;
  width: 100%;
}

#playground>.inner{
  display: block;
  position:absolute;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin: 68px 20px 20px 348px;
  background-color: #ebebeb;
}

#playground #ground{
  height: 100%;
}

#tools {
  position:absolute;
  bottom: 20px;
  right: 20px;

  width: 36px;
  min-height: 36px;
  z-index: 1;
  background: #f5f5f5;
}

#tools .tool{
  cursor: pointer;
  height: 36px;
  text-align: center;
  width: 36px;
}

#tools .tool a{
  color: #757575;
  line-height: 36px;
  display: block;
  text-decoration: none;
  transition: background-color .3s ease-in-out;
}

#tools .tool a:visited{
  color: #757575;
}

#tools .tool a:hover{
  background: #fff;
}

#tools .tool .playing:before{
  content: "\f04c";
}

#tools .tool .pausing:before{
  content: "\f04b";
}



/*

  Mercury messenger
  ===
*/
#mercury{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

#mercury h3{
  color: white;
}

#mercury .action{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}
#mercury>.inner{
  pointer-events: auto;
  position: absolute;
  background: rgba(239, 0, 47, 0.9);
  padding: 10px 45px 10px 15px;
  top: -400px;
  max-height: 400px;
  overflow: auto;
  left: 0;
  right: 0;
  color: #f7cad3;
  transition: top .3s ease-in-out;
}

#mercury.open>.inner{
  top: 0;

}


/*

  Statistics.jsx react comonent
  ===
*/
#statistics{
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0,0,0,.05);
  padding: 8px 11px;
  line-height: 20px;
  color: #8d8d8d;
}

#statistics .number{
  color: #000;
  font-weight: 500;
}

/*

  Codemirror
  ===
*/
.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: 'NovelMonoPro-Regular', 'Source Code Pro', sans-serif;
  height: auto;
  line-height: 20px;
}

.CodeMirror.closed .CodeMirror-scroll{
  height: 28px;
  max-height:400px;
}

.CodeMirror-scroll {
  height: 28px;
  max-height: 300px;
}

.cm-s-base16-light.CodeMirror{
  background: #ebebeb;
}

.cm-s-base16-light.CodeMirror.CodeMirror-focused{
  background: #fefefa;
}

.cm-s-base16-light.CodeMirror.CodeMirror-focused .CodeMirror-scroll{
  height: auto;
}
